/* body ----------------------- */

.title {
    margin: 30px;
}

/* buttons ----------------------- */

.rps-btn {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.rps-btn button {
    border: 3px solid rgb(198, 116, 249);
    border-radius: 10px;
    text-decoration: none;
}

.rps-btn button:hover {
    cursor: pointer;
    background-color: rgb(198, 116, 249);
    color: black;
    text-decoration: none; 
}

.rps-btn img {
    height: 100px;
    width: 100px;
}

#rps-btn {
    background-color: rgb(221, 166, 255);
}

#rps-btn:hover {
    background-color: rgb(198, 116, 249);
}

.rps-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-decoration: none;
}

/* Rock Paper Scissors ---------------- */

.rps-body {
    font-family: 'Belanosima', sans-serif;
    background-color: rgb(118, 225, 182);
}

.sub-title {
    font-size: x-large;
}

#user-choice,
#computer-choice,
#result {
    visibility: hidden;
    opacity: 0;
}

.comp-answer {
    margin-left: 200px;
}

.user-answer {
    margin-right: 200px;
}

.rps-icon {
    margin: 20px;
    height: 200px;
    width: auto;
    transition: transform 0.3s;
}

.rps-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.rps-icon:active {
    transform: scale(1);
}

/* Media Queries ---------------- */

@media (max-width: 768px) {
    .comp-answer {
        margin-left: 0;
    }
    
    .user-answer {
        margin-right: 0;
    }
    .rps-icon {
        margin: 10px;
        height: 150px;
        width: auto;
        transition: transform 0.3s;
    }
  }