/* -------------------------------- body */

.title {
    margin: 30px;
}

.row-width {
    max-width: 800px;
    margin: auto;
}

/* -------------------------------- index buttons */

.game-btn {
    width: 200px;
    height: auto;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;
}

.game-btn button {
    border: 3px solid rgb(198, 116, 249);
    border-radius: 10px;
    text-decoration: none;
}

.game-btn button:hover {
    cursor: pointer;
    background-color: rgb(198, 116, 249);
    color: black;
    text-decoration: none; 
}

.game-btn img {
    height: 100px;
    width: 100px;
}

#game-btn {
    background-color: rgb(221, 166, 255);
}

#game-btn:hover {
    background-color: rgb(198, 116, 249);
}

.rps-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-decoration: none;
}

.game-btn-container {
    width: 200px;
}

/* -------------------------------- Rock Paper Scissors */

.rps-body {
    font-family: 'Belanosima', sans-serif;
    background-color: rgb(118, 225, 182);
}

.sub-title {
    font-size: x-large;
}

#user-choice,
#computer-choice,
#result {
    visibility: hidden;
    opacity: 0;
}

.comp-answer {
    margin-left: 200px;
}

.user-answer {
    margin-right: 200px;
}

.rps-icon {
    margin: 20px;
    height: 200px;
    width: auto;
    transition: transform 0.3s;
}

.rps-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.rps-icon:active {
    transform: scale(1);
}

.mobile-result {
    margin: 20px;
    display: none;
}

.comp-answer,
.user-answer,
.answers {
    margin: 0;
    padding-left: 10px;
}

.result-container {
    width: 400px;
    display: inline-block;
}

.choice-display p {
    font-weight:300;
    font-size: 25px;
}

/* -------------------------------- Memory Game */

.memory-body {
    font-family: 'Belanosima', sans-serif;
    background-color: rgb(245, 210, 149);
}

.game-container,
.score {
    padding: 10px;
}

.memory-row-width {
    max-width: 900px;
    margin: auto;
}

.grid-item {
    width: 15%; /* Make each image take up 100% of the width of its container */
    height: auto; /* Maintain the aspect ratio */
    margin: 5px; /* Optional: Add margin between images */
}

.transparent {
    opacity: 0.5;
}

.alert-container {
    padding: 7px 10px 4px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box shadow */
    display: none;
}
  
.alert-box {
    height: 20px;
  }

/* -------------------------------- Modals  */


.win-modal {
    max-width: 500px;
    width: auto;
    height: auto;
    border: 6px solid #d8d8d8;;
    background-color: rgb(56, 193, 138);
    position: absolute;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    animation:fadein 1s;
}

.win-modal-mg {
    max-width: 500px;
    width: auto;
    height: auto;
    border: 6px solid #d8d8d8;;
    background-color: rgb(219, 169, 84);
    position: absolute;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    animation:fadein 1s;
}

.win-background{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display: none;
    padding: 30px;
}

.lose-modal {
    max-width: 500px;
    width: auto;
    height: auto;
    border: 6px solid #d8d8d8;;
    background-color: rgb(170, 60, 60);
    position: absolute;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    animation:fadein 1s;
}


.modal-icon {
    margin: 20px;
    height: 200px;
    width: auto;
}

/* -------------------------------- Media Queries */

@media (max-width: 768px) {

    .comp-answer {
        margin-left: 0;
    }
    
    .user-answer {
        margin-right: 0;
    }
    .rps-icon {
        margin: 10px;
        height: 150px;
        width: auto;
        transition: transform 0.3s;
    }
    .lose-modal,
    .win-modal {
        max-width: 400px;
    }
}

@media (max-width: 573px) {
    .lose-modal,
    .win-modal {
        max-width: 350px;
    }
    .rps-icon {
        margin: 0;
        height: 100px;
        width: auto;
        padding: 0;
        transition: transform 0.3s;
    }

    .choice-display {
        padding-bottom: 10px;
    }

    .choice-display p {
        font-weight:200;
        font-size: 20px;
    }
    
    .rps-icon:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
    
    .rps-icon:active {
        transform: scale(1);
    }

    .sm-results {
        padding-top: 20px;
    }
    .grid-item {
        margin: 2px;
    }
    #alert {
        font-size: large;
    }
    .memory-row-width .sub-title {
        font-size: large;
    }
    .alert-box {
        height: 10px;
    }
    .score {
        font-size: large;
    }
}

@media (max-width: 350px) {
        
    .lose-modal,
    .win-modal {
        max-width: 275px;
    }
}