/* body ----------------------- */

.title {
    margin: 30px;
}



/* buttons ----------------------- */

.rps-btn {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}

.rps-btn button {
    border: 3px solid rgb(198, 116, 249);
    border-radius: 10px;
    text-decoration: none;
}

.rps-btn button:hover {
    cursor: pointer;
    background-color: rgb(198, 116, 249);
    color: black;
    text-decoration: none; 
}

.rps-btn img {
    height: 100px;
    width: 100px;
}

#rps-btn {
    background-color: rgb(221, 166, 255);
}

#rps-btn:hover {
    background-color: rgb(198, 116, 249);
}

.rps-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-decoration: none;
}

/* Rock Paper Scissors ---------------- */

#user-choice,
#computer-choice,
#result {
    visibility: hidden;
    opacity: 0;
}

.comp-answer {
    margin-left: 200px;
}

.user-answer {
    margin-right: 200px;
}

.choice-btn {
    margin: 20px;
    width: 150px;
    height: 50px;
}